.footer {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    background-color: #1C1C1C;
}

.logo{
    max-width: 90%;
}

.logo g{
    fill: #FFFFFF;
}

.footer-section1{
    color: #777777;
}

.footer-section2{
    color: #777777;
}

.footer-section3{
    color: #777777;
}

.footer-map{
    height: 400px;
}

.footer-info{
    height: 50px;
    color: #C6C6C6;
    font-size: 1rem;
    background-color: #161616;
}

.footer-info p{
    margin: 0;
}

dl { 
    width: 100%;
}
dt { 
    width: auto;
    max-width: 60%;
    float: left;
    overflow: hidden; 
    white-space: nowrap;
    word-wrap: break-word;

}


dd {
    width: auto;
    float: left;  
    overflow: hidden;
    word-wrap: break-word;
    max-width: 40%;

}

dt:after { 
    content: "............................................................................................";
}

.footer button{
    background-color: transparent;
    border: none;
    color: #777777;
    padding: 0;
}

.swal2-popup {
    font-size: 12px !important;
    color:#777777;
}

.hovertext {
    position: relative;

}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #161616;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 30%;
    top:140%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

/* .dot {
    height: 40px;
    width: 40px;
    background-color: #777777;
    border-radius: 50%;
    display: inline-block;
}

.dot svg{
    fill:#FFFFFF;
    z-index: 3;
} */