.historiaSection{
    margin: 0;
    padding: 0;
    min-height: 950px;
    width: 100%;
    display: flex;
    background-color: rgba(233, 233, 233, 1);
}

.historiaImgContainer{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.historiaImgContainerBlock{
    position: relative;
    width: 60%;
    height: 60%;
    max-width: 500px;
    margin-right: 5rem;
}

.historiaTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 10rem 10rem 10rem 0;
}

#historiaTragos{
    max-height: 45%;
    z-index: 6;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    
}

#historiaTablas{
    max-height: 65%;
    z-index: 3;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.historiaTextContainer h4{
    color: rgba(204, 157, 47, 1);
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.historiaTextContainer h3{
    font-family: 'Cinzel';
    font-size: 56px;
    color: #1C1C1C;
    margin-bottom: 2rem;
}

.historiaTextContainer p{
    font-family: 'Poppins';
    font-size: 16px;
    color: #777777;
}

@media screen and (max-width: 1119px){
    .historiaSection{
        padding: 5rem 0 5rem 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .historiaTextContainer{
        width: 80%;
        padding: 0;
    }
    .historiaImgContainer{
        margin-top: 2rem;
        width: 80%;
        justify-content: center;
    }
    .historiaImgContainerBlock{
        width: 90%;
        height: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #historiaTragos{
        max-width: 100%;
        z-index: 6;
        position: relative;
        margin: 0 2rem 0 0;
    }
    #historiaTablas{
        max-width: 100%;
        z-index: 3;
        position: relative;
        margin: -2rem 0 0 2rem;
    }
}
