.historiaSection{
    margin: 0;
    padding: 0;
    height: 950px;
    width: 100%;
    display: flex;
    background-color: rgba(233, 233, 233, 1);
}

.historiaImgContainer{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historiaImgContainerBlock{
    position: relative;
    width: 424px;
    height: 551px;
}

.historiaTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5rem 8rem 5rem 0;
}

#historiaTragos{
    z-index: 3;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
}

#historiaTablas{
    z-index: 6;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.historiaTextContainer h4{
    color: rgba(204, 157, 47, 1);
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.historiaTextContainer h3{
    font-family: 'Cinzel';
    font-size: 56px;
    color: #1C1C1C;
    margin-bottom: 2rem;
}

.historiaTextContainer p{
    font-family: 'Poppins';
    font-size: 16px;
    color: #777777;
}
