.card{
    font-family: 'Poppins' !important;
    font-style: normal !important;
}

.card-title{
    font-size: 20px !important;
    color: #474747;
}

.card-text{
    font-size: 14px !important;
    color: #989898;
}

.item--card{
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 0 !important;
    animation: card-flip 1s;
}

@keyframes card-flip {
    0% {
        transform: rotateX(-180deg);
        transition: 0.5s;
        
     }
    100% {
        transform: rotateX(0deg) ;
        transition: 0.5s;
        
     }
}

.card-img {
    height: 12rem;
    border-radius: 0 !important;
    object-fit: cover;
}

.gridMenu {
    display:flex;
    flex-wrap:wrap;
    border: none;
}

.gridMenu::after{
    content: '';
    width: 18em;
}