.card-title{
    font-size: 20px !important;
    color: #474747;
}

.card-text{
    font-size: 14px !important;
    color: #989898;
}

.card{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 0 !important;
    width: 20rem;
}

.card-img {
    height: 12rem;
    border-radius: 0 !important;
    object-fit: cover;
}

.cardContainer{
    display:flex;
    flex-wrap:wrap;
    border: none;
    width: 20rem;
}

.cardContainer::after{
    content: '';
    width: 20rem;
}

@media (min-width: 576px) { 
    .card{
        width: 14rem;
    }

    .cardContainer {
        width: 100%;
    }
}

@media (min-width: 769px) { 
    .card{
        width: 16rem;
    }

    .cardContainer {
        width: 100%;
    }

    .cardContainer::after{
        content: '';
        width: 16rem;
    }
}

@media (min-width: 991.98px) { 
    .card{
        width: 14rem;
    }

    .cardContainer {
        width: 100%;
    }

    .cardContainer::after{
        content: '';
        width: 14rem;
    }
}

@media (min-width: 1200px) { 
    .card{
        width: 18rem;
    }

    .cardContainer {
        width: 100%;
    }

    .cardContainer::after{
        content: '';
        width: 18rem;
    }
}

@media (min-width: 1400px) { 
    .card{
        width: 22rem;
    }

    .cardContainer {
        width: 100%;
    }

    .cardContainer::after{
        content: '';
        width: 22rem;
    }
}

@media (min-width: 1600px) { 
    .card{
        width: 26rem;
    }

    .cardContainer {
        width: 100%;
    }

    .cardContainer::after{
        content: '';
        width: 26rem;
    }
}