.menuSection{
    margin: 0;
    padding: 0;
    height: 1026px;
    width: 100%;
    display: flex;
    background-color: #1C1C1C;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.menuSectionContent{
    width: 1040px;
    height: 706px;
}

.menuHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuHeaderTitle{
    display: flex;
    flex-direction: column;
}

.menuHeader h4{
    color: rgba(204, 157, 47, 1);
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.menuHeader h3{
    font-family: 'Cinzel';
    font-size: 56px;
    color: #fff;
    margin-bottom: 2rem;
}

.menuHeader p{
    font-family: 'Poppins';
    font-size: 16px;
    color: #777777;
}

.menuLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
}

.menuCards{
    width: 336px;
    height: 467px;
    border: none;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menuCards:hover{
    opacity: 1;
    cursor: pointer;
}

.menuCardsButton{
    width: 130px;
    height: 48px;
    border: 2px solid #E9E9E9;
    background: none;
    color: #E9E9E9;
    text-transform: uppercase;
    font-family: 'Poppins';
    margin-bottom: 3rem;
}